@model UpMoneyProjesi.Models.Budget

@{
    ViewData["Title"] = "CreateBudget";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CreateBudget</h1>

<h4>Budget</h4>
<hr />
<div class="row" style="margin-left: 288px; margin-top: 91px;>
    <div class="col-md-4">
        <form asp-action="CreateBudget">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Budget1" class="control-label">Budget</label>
                <input asp-for="Budget1" class="form-control" />
                <span asp-validation-for="Budget1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BudgetTypeId" class="control-label"></label>
                <select asp-for="BudgetTypeId" class ="form-control" asp-items="ViewBag.BudgetTypeId"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

